# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# AWS SAM
.aws-sam/
samconfig.toml.local
packaged.yaml

# AWS
.aws/

# Env vars
.env
.env.local
.env.*.local

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Testes
.pytest_cache/
.coverage
htmlcov/
.tox/

# Logs
*.log
logs/

# Dados temporários
data/
*.csv
*.parquet
!tests/fixtures/*.csv
# Lambda invoke test outputs
response.json
infrastructure/response.json
